# Enter your imap server settings
IMAP_HOST="imap.example.com"
IMAP_PORT=993
SSL=true
USERNAME="info@example.com"
PASSWORD="securepassword"

# optional: use different imap folders
# FOLDER="INBOX"
# MOVE_ON_SUCCESS=failure
# MOVE_ON_FAILURE=success

# add domains or email-addresses
# seperated by space to allow the
# processing only to these domains
# or email-addresses
# ALLOW_LIST="example.com exapmle.net"

# Nextcloud settings
NC_URL="https://nc.example.com"
NC_FOLDER="Sample-Folder"
NC_USERNAME="info@example.com"
NC_PASSWORD="securepassword"

# path to the tmp-directory
TMP=/var/tmp
